/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
    body {
    background-color: #141414;
    padding-top: 60px;
    }

/* Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #141414;
    padding: 10px 10px 10px 10px;
    z-index: 1000;
}

header h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

header input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #141414;
    border: 1px solid white;
    border-radius: 5px;
    transition: border 0.3s ease;
    box-shadow: none;
    outline: none;
}

header input:focus {
    border: 1px solid #3c50dc;
}

/* Main content */
main {
    width: 100%;
    padding: 20px;
}

#results-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Results items */
.result-item {
    background: #141414;
    border: 1px solid #3c50dc;
    border-radius: 5px;
    padding: 10px;
    flex: 1 1 calc(100% - 20px); /* full width minus padding */
}

@media (min-width: 600px) {
    .result-item {
        flex: 1 1 calc(50% - 20px); /* 2 columns */
    }
}

@media (min-width: 900px) {
    .result-item {
        flex: 1 1 calc(33.33% - 20px); /* 3 columns */
    }
}

@media (min-width: 1200px) {
    .result-item {
        flex: 1 1 calc(25% - 20px); /* 4 columns */
    }
}